doctype html
//
	if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//
	if IE 7html.no-js.lt-ie9.lt-ie8(lang='')
//
	if IE 8html.no-js.lt-ie9(lang='')
//if gt IE 8
	| [if gt IE 8]
html.no-js(lang='en')
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Password Recover | Engage Html Template
		meta(name='description', content='Create your website using Engage multipurposes html template: corporate, ecommerce, blog, creative and much more. Only $17 for unlimited possibilities.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='assets/img/various/apple-touch-icon.png')
		link(rel='shortcut icon', href='assets/img/favicon.ico', type='image/x-icon')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400,700,800', rel='stylesheet')
		link(rel='stylesheet', href='assets/js/libs/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='assets/js/libs/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/icons/nucleo.css')
		link(rel='stylesheet', href='assets/js/libs/animate.css/animate.min.css')
		// BEGIN PAGE STYLE
		link(rel='stylesheet', href='assets/css/form.css')
		link(rel='stylesheet', href='assets/css/pages.css')
		// END PAGE STYLE
		link(rel='stylesheet', href='assets/css/buttons.css')
		link(rel='stylesheet', href='assets/css/builder.css')
		link(rel='stylesheet', href='assets/css/colors.css')
		link(rel='stylesheet', href='assets/css/footers.css')
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='stylesheet', href='assets/css/nav.css')
		link(rel='stylesheet', href='assets/css/preloader.css')
		link(rel='stylesheet', href='assets/css/themes.css')
		link(rel='stylesheet', href='assets/css/ui.css')
		link(rel='stylesheet', href='assets/css/widgets.css')
		script(src='assets/js/modernizr-2.8.3-respond-1.4.2.min.js')
		style.
			.password-progress {
				margin-top: 10px;
				margin-bottom: 0;
			}
	body.header-light
		//
			if lt IE 8
			p.browserupgrade
			| You are using an
			strong outdated
			|  browser. Please
			a(href='http://browsehappy.com/') upgrade your browser
			|  to improve your experience.
		// BEGIN PRELOADER
		.loader-wrapper
			.loader-circle
		// END PRELOADER
		#wrapper
			// BEGIN LATERAL NAVIGATION
			aside#aside-nav
				#main-aside-navigation
					.main-nav-wrapper
						.close-aside-nav
							i.nc-icon-outline.ui-1_simple-remove
						#aside-logo
							a(href='#', data-logo-light='assets/img/logo/logo-short-dark.png', data-logo-dark='assets/img/logo/logo-short-dark.png')
								img(width='170', height='166', src='assets/img/logo/logo-short-dark.png', alt='logo')
						nav#main-aside-menu
							ul
								li.submenu
									a(href='/logout') LOG OUT
						footer
							a.facebook(href='#')
								span
									i.fa.fa-facebook
							a.instagram(href='#')
								span
									i.fa.fa-instagram
							a.twitter(href='#')
								span
									i.fa.fa-twitter
			// END LATERAL NAVIGATION
			// BEGIN MAIN NAVIGATION
			header#header
				#main-navigation.submenu-dark
					.main-nav-wrapper
						.container-fluid
							.nav-left
								#logo
									a(href='overview', data-logo-light='assets/img/logo/logo-aside-light.png', data-logo-dark='assets/img/logo/logo-short-dark.png')
										img(width='145', height='36', src='assets/img/logo/logo-short-dark.png', alt='logo')
							.nav-right
								nav#main-menu
									ul
										li.mega-menu.menu-layouts
											a(href='/logout') Log out
								ul.nav-tools
									li.mobile-menu-btn
										button.toggle-menu(data-toggle='mobile-menu', data-effect='hover')
											span.menu-label.label-left Menu
											i.nc-icon-outline.ui-2_menu-35
			// END MAIN NAVIGATION
			// BEGIN MAIN CONTENT
			#main-content
				// BEGIN HEADER
				header.section-header.header-sm.t-dark
					.container.top-element
						.row.top-text
							i.nc-icon-outline.ui-1_lock.header-icon
							h1.header-title.t-important.m-b-0 Get Password
							p.subtitle Hello, #{user.strLicenseFirstName} #{user.strLicenseLastName}, please enter your desired password.
				// END HEADER
				.section.container
					.row.p-b-80
						.col-lg-4.col-md-6.m-b-50.offset-lg-4.offset-md-3
							.m-b-50
								form#passwordForm(method="POST" action="/setup")
									.form-group.form-grouped.required
										label Password
										.prepend-icon
											input#strPassword.form-control.input-lg(type='password' name='strPassword' placeholder='Password')
											i.nc-icon-outline.ui-1_lock
							

									.form-group.form-grouped.required
										label Re-enter Password
										.prepend-icon
											input#strPassword2.form-control.input-lg(type='password' name='strPassword2' placeholder='Password')
											input#strUsername(hidden value=user.strUsername name='strUsername')
											i.nc-icon-outline.ui-1_lock
									button.btn.btn-lg.btn-important.btn-primary.btn-block(type='submit') Send New password
								.progress.password-progress(hidden)
									#strengthBar.progress-bar(hidden role='progressbar', style='width: 0;')
								
							
			// END MAIN CONTENT
			// BEGIN FOOTER
			footer#footer
				#footer-main.container-large
					.row
						.col-lg-12.col-md-12
							.widget.widget-text
								h3.widget-title Who are we?
								img.footer-logo(width='200', height='50', src='assets/img/logo/logo-aside-light.png', alt='logo')
								p Isabel, a web and mobile application that simplifies traffic violation process.
								p
									i.nc-icon-outline.ui-1_home-minimal
									|  Polytechnic University of the Philippines
								p
									i.nc-icon-outline.ui-1_email-85
									a(href='mailto:contact@isabel.com') contact@isabel.com
								p
									i.nc-icon-outline.tech_mobile
									a(href='tel:+1-888-541-7871', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Call us Now')  87000

				#footer-bottom
					.container-large
						.row
							.col-sm-12.t-center
								p.copyright © Isabel 2017. All Rights Reserved.
			// END FOOTER
		// BEGIN OFF FULLSCREEN SEARCH
		.search-overlay.overlay-dark
			a.search-overlay-close(href='#')
				i.nc-icon-outline.ui-1_simple-remove
			form(action='search-result', method='post')
				input(type='search', placeholder='Search...')
				button(type='submit')
					i.nc-icon-outline.ui-1_zoom-split
		// END OFF FULLSCREEN SEARCH
		// BEGIN BUILDER
		#builder.builder.hidden-sm-down
			a.builder-toggle
				i.nc-icon-outline.ui-1_settings-gear-65
			.inner
				.builder-container
					.builder-section.builder-buy
						a.btn.btn-primary.btn-block.t-important(href='#') Buy Engage
						a#reset-style(href='#') reset style
					.builder-section.builder-layout
						h4 Layout
						.btn.btn-dark.btn-bordered.t-important(data-layout='boxed') BOXED
						.btn.btn-dark.t-important(data-layout='wide') WIDE
						.builder-boxed-bg
							h4 Boxed Background
							.row
								.col-xs-12.custom-bg-background
									.boxed-bg(data-bg-img='bg/pattern/3.png')
									.boxed-bg(data-bg-img='bg/pattern/2.png')
									.boxed-bg(data-bg-img='creative/full-18.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='creative/full-4.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='nature/full-20.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='nature/full-42.jpg', data-pattern='false')
					.builder-section.builder-menu-layout
						h4 Menu Style
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='lateral') Lateral
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='overlay') Overlay
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='offcanvas') Offcanvas
							a.btn.btn-dark.t-important(href='#', data-menu='right-align') Right align
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='left-align') Left align
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='logo-center') Logo center
					.builder-section.builder-menu-style
						h4 Menu Color
						div
							a.btn.btn-dark.t-important(href='#', data-menu-style='transparent') Transparent
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='image') Image
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='dark') Dark
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='light') Light
					.builder-section.builder-footer
						h4 Footer
						.btn.btn-dark.t-important(data-footer='normal') Normal
						.btn.btn-dark.btn-bordered.t-important(data-footer='reveal') Reveal
					.builder-section.builder-themes
						h4 Theme Colors
						.row
							.col-xs-12
								.theme-color.blue.lighten-2(data-theme='blue')
								.theme-color.indigo.lighten-2(data-theme='indigo')
								.theme-color.deep-purple.lighten-2(data-theme='purple')
								.theme-color.teal.lighten-2(data-theme='teal')
								.theme-color.amber(data-theme='amber')
								.theme-color.deep-orange.lighten-1.active(data-theme='default')
								.theme-color.red.lighten-1(data-theme='red')
								.theme-color.grey.darken-4(data-theme='dark')
					.builder-section.builder-dark-theme
						.btn.btn-dark.btn-block.t-important(data-skin='dark') Dark Theme
		// END BUILDER
		a.scrollup(href='#')
			i.nc-icon-outline.arrows-1_minimal-up
		script(src='assets/js/libs/jquery/dist/jquery.min.js')
		script(src='assets/js/libs/jquery-ui/jquery-ui.min.js')
		script(src='assets/js/libs/gsap/src/minified/TweenMax.min.js')
		script(src='assets/js/libs/gsap/src/minified/plugins/ScrollToPlugin.min.js')
		script(src='assets/js/libs/tether/dist/js/tether.min.js')
		script(src='assets/js/libs/bootstrap/dist/js/bootstrap.min.js')
		script(src='assets/js/libs/superfish/dist/js/superfish.min.js')
		script(src='assets/js/libs/appear/jquery.appear.js')
		script(src='assets/js/libs/skrollr/dist/skrollr.min.js')
		script(src='assets/js/libs/easyticker-jquery/jquery.easy-ticker.min.js')
		script(src='assets/js/navigation.js')
		script(src='assets/js/search.js')
		script(src='assets/js/builder.js')
		script(src='assets/js/widgets.js')
		script(src='assets/js/main.js')
		script(type='text/javascript', src='js/formValidation.js')
		script(type='text/javascript', src='js/framework/bootstrap.js')
		script(type='text/javascript', src='js/sweetalert.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.3.0/zxcvbn.js")
		script.
			$(document).ready(function() {
				$('#passwordForm').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						strPassword: {
							validators: {
								notEmpty: {
									message: 'The password is required'
								},
								callback: {
									callback: function(value, validator, $field) {
										var password = $field.val();
										if (password == '') {
											return true;
										}

										var result  = zxcvbn(password),
											score   = result.score,
											message = result.feedback.warning || 'The password is weak';

										// Update the progress bar width and add alert class
										var $bar = $('#strengthBar');
										switch (score) {
											case 0:
												$bar.attr('class', 'progress-bar progress-bar-danger')
													.css('width', '1%');
												break;
											case 1:
												$bar.attr('class', 'progress-bar progress-bar-danger')
													.css('width', '25%');
												break;
											case 2:
												$bar.attr('class', 'progress-bar progress-bar-danger')
													.css('width', '50%');
												break;
											case 3:
												$bar.attr('class', 'progress-bar progress-bar-warning')
													.css('width', '75%');
												break;
											case 4:
												$bar.attr('class', 'progress-bar progress-bar-success')
													.css('width', '100%');
												break;
										}

										// We will treat the password as an invalid one if the score is less than 3
										if (score < 3) {
											return {
												valid: false,
												message: message
											}
										}

										return true;
									}
								}
							}
						},
						strPassword2: {
							validators: {
								notEmpty: {
									message: 'The password is required'
								},
								identical: {
									field: 'strPassword',
									message: 'The password and its confirm are not the same'
								},
								
							}
						},
					}
				})
				.on('success.form.fv', function(e) {
					e.preventDefault();
					var $form = $(e.target),
						fv    = $(e.target).data('formValidation');
					swal({
						title: "Success",
						text: "You will be directed to log in Page",
						buttons: {
							Okay: "Okay",
						},
						icon: 'success',
					}).then((value) => {
						if(value == "Okay"){
							fv.defaultSubmit();
						}
					});
				});
			});
